[Unit]
Description=Refresh 3D-Printer Slicing Server state every 15 seconds

[Timer]
OnBootSec=5s
OnUnitActiveSec=15s
AccuracySec=1s
Unit=3d-printer-slicing-refresh.service

[Install]
WantedBy=timers.target
