[Unit]
Description=Restore Puppet Home Assistant Split-DNS
After=docker.service
[Service]
Type=oneshot
ExecStart=/usr/local/sbin/studio-puppet-hosts.sh
TimeoutStartSec=15
